@charset "utf-8";
a.nav { text-decoration: none; }
a.nav:hover { text-decoration: underline; }
a.button { height: 40px; width: 120px; border-radius: 6px; font-size: 15px; padding: 10px 10px 30px 10px; border: 1.8px solid #f5f5f5; color: #FEFEFE; background-color: #008000; cursor: pointer }
a.button:hover { border-color: #FEFEFE; background-color: rgb(0, 150, 0) }
#page { max-width: 650px; margin: 0px auto; position: relative; padding: 0px 20px; color: rgb(227, 227, 227); font-family: OpenSansLight, "Helvetica Neue", Helvetica, Arial, sans-serif; font-weight: normal; font-size: 16px; text-align: left; }
